body {
    background-color: rgba(128, 128, 128, 0.153);
    margin-top: 100px;
}

nav {
    box-shadow: 1px -1px 20px rgba(0, 0, 0, 0.267);
}

#efeito {
    width: 220px;
    height: 10px;
    background-color: rgba(0, 0, 255, 0.633);
    margin-top: -20px;
    margin-left: 60px;
    
}

#efeito1 {
    width: 220px;
    height: 10px;
    background-color: rgba(0, 0, 255, 0.633);
    margin-top: -20px;
    margin-left: 35px;
}

#efeito2 {
    width: 120px;
    height: 10px;
    background-color: rgba(0, 0, 255, 0.633);
    margin-top: -20px;
    margin-left: 46.5%;
}

#teste {
    z-index: 1;
    transition: transform 0.5s;
}

#teste:hover {
    transform: scale(1.04);
    box-shadow: 1px -1px 20px rgba(0, 0, 0, 0.267);
}

#teste:hover>button {
    box-shadow: 1px 1px 10px 2px rgba(0, 195, 255, 0.486);
}

#pagar:hover{
    box-shadow: 1px 1px 10px 2px rgba(0, 195, 255, 0.486);
}
#te:hover{
    box-shadow: 1px 1px 10px 2px rgba(0, 195, 255, 0.486);
}

#rede {
    transition: transform 0.5s;
}

#rede:hover {
    transform: scale(1.2);
}

#imgpagdps {
    display: none;
}

#confirmarpag {
    margin-left: 10px;
}

/* formulario */

input {
    width: 75%;
    padding: 8px;
    border: none;
    border-bottom: 2px solid #507dfab6;
    border-radius: 0px;
    mask-border-outset: none;
    outline: none;

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus{
    border-bottom: 2px solid #2027ff;
}




#metadeform{
    width: 40%;
}

#titulosem{
    width: 100%;
}

#dv{
    width: 75%;
}
#metadeform1{
    width: 40%;
}

#titulosem1{
    width: 100%;
}

#cvv{
    width: 75%;
}

#contprincipal{
    width: 75%;
}


@media (min-width: 100px) and (max-width: 988px) {

    #efeito1,
    #efeito,
    #efeito2 {
        display: none;
    }

    #Entrecttnos {
        font-size: 17px;
    }

    .contato {
        margin-left: 0px;
    }

    h1 {
        text-shadow: -1px -1px 50px rgba(0, 0, 255, 0.453);
        color: blue;
    }

    #sumi4r {
        display: none;
    }

    #confirmarpag {
        margin-top: 10px;
        margin-left: 0;
    }

    #imgpag {
        display: none;
    }

    #imgpagdps {
        display: block;
    }

    #input {
        width: 100%;
    }

    #metadeform{
        width: 100%;
    }
    
    #titulosem{
        width: 100%;
    }
    
    #dv{
        width: 75%;
    }

    #metadeform1{
        width: 100%;
    }
    
    #titulosem1{
        width: 100%;
    }
    
    #cvv{
        width: 75%;
    }

    #contprincipal{
        width: 90%;
    }

}